*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 10px 15px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: end;
    font-family: roboto;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    text-decoration: underline;
    color: black;
}


